# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [2]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

In [4]:
a[-3:]

[4, 5, 6]

In [3]:
# create a list of numbers from 1 to 20

In [6]:
numbers = list(range(1,21))

In [ ]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

In [7]:
even_numbers = list(range(2,101,2))

In [ ]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

In [8]:
def divide(x,y):
    return x/y

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

In [9]:
long_list = list(range(1,101))

for num in long_list:
    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")
    elif num % 3 == 0:
        print("fizz")
    elif num % 5 == 0:
        print("buzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [10]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

ahmos = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [ ]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

In [11]:
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
type(df)

pandas.core.frame.DataFrame

In [ ]:
# select all rows with more than and including 400 calories

In [12]:
df[df["calories"] >= 400]

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
81,signature espresso drinks,white chocolate mocha (without whipped cream),2% Milk,400,11.0,7.0,0.2,25,250,61,0,58,15.0,15,2,45,0.0,150.0
83,signature espresso drinks,white chocolate mocha (without whipped cream),Venti Nonfat Milk,450,7.0,6.0,0.0,10,310,78,0,74,19.0,25,2,60,2.0,150.0
84,signature espresso drinks,white chocolate mocha (without whipped cream),2% Milk,510,15.0,9.0,0.2,35,330,77,0,74,19.0,20,4,60,2.0,150.0
85,signature espresso drinks,white chocolate mocha (without whipped cream),Soymilk,460,13.0,6.0,0.0,5,290,70,1,64,16.0,15,2,60,20.0,150.0
128,tazo tea drinks,tazo green tea latte,2% Milk,450,10.0,5.0,0.3,40,230,72,2,71,17.0,25,20,50,6.0,110.0
214,frappuccino blended coffee,java chip (without whipped cream),Venti Nonfat Milk,420,5.0,4.0,0.0,5,340,90,2,84,7.0,10,0,20,35.0,145.0
215,frappuccino blended coffee,java chip (without whipped cream),Whole Milk,460,10.0,7.0,0.2,15,340,90,2,84,7.0,6,0,15,35.0,145.0
216,frappuccino blended coffee,java chip (without whipped cream),Soymilk,430,8.0,4.5,0.0,0,330,88,3,80,6.0,6,0,20,40.0,145.0

In [13]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:


df[df["vitamin c"] > df["iron"]]

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [14]:
df["caffiene per calories"] = df["caffeine"] / df["calories"]

In [ ]:
# what is the average calorie across all items?

In [15]:
df["calories"].mean()

np.float64(193.87190082644628)

In [ ]:
# how many different categories of beverages are there?

In [16]:
df['beverage_category'].value_counts().count()

np.int64(9)

In [ ]:
# what is the average # calories for each beverage category?

In [17]:
df.groupby(["beverage_category"])["calories"].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64